<html>
<head>
<title> SOMU_113 </title>
{% load static %}
<link href="{% static '/css/ABOUT1.css' %}" rel="stylesheet"/>
</head>
<body>
<a id="ov" href="/overview/"  > OVERVIEW </a>
<a id="vi" href="/vission/"  > VISSION </a>
<p id="kk" onmouseover="ab()" onmouseout="abc()" >
   Strong has worked in 42 Indiana counties. He has designed over 20 miles of DeKalb County Regulated Drains including storm sewers up to 60-inches in diameter.
   He site designed for over 9,000 residential lots, 3,500 multi-family units, and 60 commercial sites and has conducted Infrastructure inventory and condition
   surveys for 90-block area for Fort Wayne Downtown 20-year master plan.
Strong has conducted a 42 mile electric line survey for Indiana-Michigan Power, and continues working for them doing wire clearance surveys and wetland staking 
as well. Strong also inspected and designed the runway for Air National Guard, Fort Wayne.
Strong has also been a contractor for Allen County, Indiana for Storm Sewer review, developed specifications for the construction of plastic pipe at the request 
of the Allen County Surveyor, inspected of legal drains for DeKalb County, Indiana, and designed Sanitary and water master plans for Aboite Township for AquaSource.
Strong was the project manager of the Maumee River Feasibility Study for flood control. He has designed construction staked, and designed an as-built survey for
 over 80 miles of sanitary sewer and over 150 storm water control basins. He has also done numerous flood studies for residential and industrial sites.
 Strong has worked in 42 Indiana counties. He has designed over 20 miles of DeKalb County Regulated Drains including storm sewers up to 60-inches in diameter.
 Mohr was project manager on the first phase of a 270 unit single-family development adjacent to the St. Joe River. Project was located about 9 miles north or
   downtown Fort Wayne. A portion of the project was included in the Flood Plan. Mohr’s assignments included investigating existing utilities along the St.
   Joe River to be extended to the project. He also directed the boundary and topographic surveys. The first phase was completed in 1987.
   Mohr also conducted a boundary survey and utility location on a 100 care site proposed for a shopping center. The survey work was completed in 1988.
   Mohr conducted a boundary and topographic survey on a 20 acre commercial site. The work included researching the City of Fort Wayne utility maps to determine 
   the location of existing utilities. The survey work was completed in 1988.
   Mohr has managed over 30 projects. These projects have included boundary and topographic surveys, utility and location design, as well as numerous storm
   drain investigations.
   Strong has worked in 42 Indiana counties. He has designed over 20 miles of DeKalb County Regulated Drains including storm sewers up to 60-inches in diameter.
   He site designed for over 9,000 residential lots, 3,500 multi-family units, and 60 commercial sites and has conducted Infrastructure inventory and condition
   surveys for 90-block area for Fort Wayne Downtown 20-year master plan.
</p>
</body>
</html>
