<html>
<head>
<title> Admission Form </title>
{% load static %}
<link href="{% static '/css/ADMISSION1.css' %}" rel="stylesheet" >
</head>
<body>
    <form method="post">
        {% csrf_token %}

<h3 id="k"> First Name </h3>
<input type="text" id="Fi" placeholder="Enter Your First Name"/>
<h3 id="kk"> Last Name </h3>
<input type="text" id="La" placeholder="Enter Your Last Name"/>
<h3 id="kkk"> Email ID </h3>
<input type="text" id="Em" placeholder="Enter Your Email ID"/>
<h3 id="k1"> Mobile No </h3>
<input type="number" id="Mo" placeholder="Enter Your Mobile Number"/>
<h3 id="k2"> Gender </h3>
<input type="radio" id="ge1" name="gender" /> <input type="radio" id="ge2" name="gender"/>
<h3 id="k3"> Male </h3>
<h3 id="k4"> Female </h3>
<h3 id="k5"> Address </h3>
<input type="text" id="Ad"/ placeholder="Enter Your Perament Address">
<h3 id="k6"> Date Of Birth </h3>
<h3 id="k7"> State </h3>
<select id="sk">
<option> West Bengal </option>
<option> Bihar </option>
<option> Delhi </option>
<option> Kerala </option>
<option> Andaman & Nicobar Islands </option>
<option> Andhra Pradesh </option>
<option> Arunachal Pradesh </option>
<option> Assam </option>
<option> Chandigarh </option>
<option> Chhattisgarh </option>
<option> Dadra & Nagar Haveli </option>
<option> Daman & Diu </option>
<option> Goa </option>
<option> Gujarat </option>
<option> Haryana </option>
<option> Himachal Pradesh </option>
<option> Jammu and Kashmir </option>
<option> Jharkhand </option>
</select>
<h3 id="k8"> Country </h3>
<input type="text" id="co"/ placeholder="Enter Your Country Name">
<h3 id="h1"> Pin Code </h3>
<input type="number" id="pi" placeholder="Enter Your Pin Code"/>
<h3 id="h2"> Hobbies </h3>
<input type="checkbox" id="ch1"/>
<h3 id="x1"> Drawing </h3>
<input type="checkbox" id="ch2"/>
<h3 id="x2"> Singing </h3>
<input type="checkbox" id="ch3"/>
<h3 id="x3"> Others </h3>
<input type="text" id="dq" />
<h3 id="q1"> Course Applying </h3>
<input type="radio" name="ha" id="n1"/>
<h3 id="zz"> B.TECH </h3>
<input type="radio" name="ha" id="n2"/>
<h3 id="zzz"> M.TECH </h3>
<input type="radio" name="ha" id="n3"/>
<h3 id="z4"> BBA </h3>
<input type="radio" name="ha" id="n4"/>
<h3 id="z5"> BCA </h3>
<input type="submit" value="submit" id="ex"/>
<input  id="sab" type="reset"/>
<h9 id="ff"> hghg </h9>
<select id="da">
<option> Day </option>
<option> 11 </option>
<option> 12 </option>
<option> 1 </option>
<option> 2 </option>
<option> 22 </option>
<option> 21 </option>
<option> 17 </option>
<option> 24 </option>
<option> 30 </option>
</select>
<select id="mon">
<option> Month </option>
<option> January </option>
<option> February </option>
<option> March </option>
<option> April </option>
<option> May </option>
<option> June </option>
<option> July </option>
<option> August </option>
<option> September </option>
<option> October </option>
<option> November </option>
<option> December </option>
</select>
<select id="ye">
<option> Year </option>
<option> 2015 </option>
<option> 2016 </option>
<option> 2017 </option>
<option> 2018 </option>
<option> 2019 </option>
<option> 2020 </option>
<option> 2021 </option>
</select>

    


</form>



</body>
</html>