<html>
<head>
<title> SOMU_112 </title>
<link rel="stylesheet" type="text/css" href="NEW 1.css"/>
<script>
function effect1()
{
    var x=document.getElementById("sq");
	x.style.color="blue";
}
function effect2()
{
   var y=document.getElementById("sq");
	y.style.color="green";
}
</script>
<script>
  alert("HELLO, WELCOME TO ABC ENGINEERING COLLEGE");
</script>
</head>
<body>
<h1 id="sq" onmouseover="effect1()" onmouseout="effect2()" > ABC ENGINEERING COLLEGE </h1>
<a id="ab" href="ABOUT.html"  > ABOUT US </a> </li>
<a id="ac" href="ACADEMICS.html"  > ACADEMICS </a>
<a id="adm" href="ADMISSION.html"  > ADMISSION </a>
<a id="fac" href="FACILITIES.html"  > FACILITIES </a>




</body>
</html>