<html>
<head>
    <title>OVERVIEW</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/OVERVIEW1.css' %}" >
<script>
function sdsa()
{
    var x=document.getElementById("over");
	x.style.color="purple";
}
function sdsb()
{
   var y=document.getElementById("over");
	y.style.color="white";
}
</script>
</head>
<body>
<p onmouseover="sdsa()" onmouseout="sdsb()" id="over">
         The ABC Engineering College has been set up, keeping in mind the ideals of Henry Ford 
		 His vision is our beacon and to give a concrete shape to his vision, we have set up ABC
		 Engineering College. We believe in his ideals that intelligent minds are the greatest
		 resources in any walk of life. Our vision is to infuse young intelligent minds with cutting 
		 edge technical education and help them to become matured professionals poised and ready to 
		 accept technical and managerial challenges in the global scenario.

         At ABC, we give maximum importance to in-depth studies in IT and its related fields. Without 
		 diluting this basic goal and with an aim to produce professionals with sound knowledge in IT., 
		 we also intend to further sharpen our students by imparting specialized training in different 
		 advanced topics in management and technology so that our outgoing students can become not mere
		 professionals knowledgeable in TI, but technically and managerially confident professionals with 
		 good communication skills - a more matured and better marketable product.,
		 
		 
		 In the broad community, the term system “system,” may mean a collection of technical, natural or 
		 social elements, or a combination of all three. This may produce ambiguities at times: for example,
		 does “management” refer to management of the SE process, or management of the system being engineered? 
		 As with many special disciplines, SE uses terms in ways that may be unfamiliar outside the discipline. 
		 For example, in systems science and therefore SE, “open” means that a system is able to interact with 
		 its environment--as opposed to being "closed” to its environment. But in the broader engineering world 
		 we would read “open” to mean “non-proprietary” or “publicly agreed upon.” In such cases, the SEBoK tries
		 to avoid misinterpretation by elaborating the alternatives e.g. “system management” or “systems engineering management”.

         The SEBoK seeks to position SE within the broader scope of knowledge which considers systems as part of its 
		 To do this without attempting to re-define general systems terminology SEBoK introduces two related definitions
		 specific to SE:

         An engineered system, is a technical or socio-technical systems system which is the subject of a SE life cycle
         An engineered system is a system designed or adapted to interact with an anticipated operational environment to
		 achieve one or more intended purposes while complying with applicable constraints.
         An engineered system context centers around an engineered system but also includes its relationships other engineered,
		 social or natural systems in one or more defined environments.
         Since the province of SE is an engineered systems, most SE literature assumes this in its terminology. Thus,
		 in an SE discussion, “system architecture” would refer to the architecture of the system being engineered

		 (e.g., a spacecraft) and not the architecture of a natural system outside its boundary (e.g., the solar system)
		 . In fact, a spacecraft architecture would cover the wider system context including external factors such as changes
		 
		 in gravity and external air pressure and how these affect the spacecraft's technical and human elements. Thus, the

		 term "system architecture" more properly refers to the engineered system context. The SEBoK tries to be more explicit 
		 about this, but may still make these kinds of assumption when referring directly to other SE literature.

         An extensive glossary of terms identifies how terms are used in the SEBoK, and shows how their meanings may vary
		 in different contexts. As needed, the glossary includes pointers to articles providing more detail.

         For more about the definition of systems, see the article What is a System? in Part 2. The primary focus of SEBoK Part 3:

</p>

</body>
</html>