<!DOCTYPE html>
<html>
    <head>
        <title>STUDENTS LIST</title>
        <script>
            function check()
            {
                var result=confirm('Do u really want to delete this record?')
                if(result==true)
                    return true;
                else
                    return false;
            }
            </script>
    </head>
    <body>
        <table border="1px" align="center" cellpadding="10px" cellspacing="0px">
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>DATE OF BIRTH</th>
                <th>AGE</th>
                <th colspan="2">ACTION</th>
            </tr>
            {% for s in students %}
            <tr>
                <td>{{s.fname}}</td>
                <td>{{s.lname}}</td>
                <td>{{s.email}}</td>
                <td>{{s.dob}}</td>
                <td>{{s.age}}</td>
                
            </tr>
            {% endfor %}
        </table>
        
    </body>
</html>