<html>
<head>
    <title>VISSION</title>
    {% load static %}
<link href="{% static '/css/VISSION1.css' %}" rel="stylesheet" >
<script>
function fd()
{
    var x=document.getElementById("jj");
	x.style.color="blue";
}
function sg()
{
   var y=document.getElementById("jj");
	y.style.color="pink";
}
</script>
</head>
<body>
<h1 onmouseover="fd()" onmouseout="sg()" id="jj"> VISSION <h1>
<ul>
<li id="li1">To impart total quality education to develop innovative, entrepreneurial and ethical future professionals fit for globally competitive environment.</li>
<li id="li2">To share with stake holders institutional experience in education and knowledge for mutual enrichment in the field of technical education.</li>
<li id="li3">To create an ambience in which new ideas, research and scholarship flourish and from which leaders, innovators and entrepreneurs of tomorrow emerge.</li>
<li id="li4">To contribute to the socio-economic development of the society through scientific and technological services.</li>
</ul>
</body>
</html>